<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Invitation to: </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="container">
     <a href="/"><h1 class="row justify-content-start">DoodleDoop</h1></a>
    </header>

    <section class="container content-wrapper">
      <div class="row user-input">
        <h2 class="text-center">Event Invitation</h2>
      </div>

      <div class="row user-input">
        <h3 class="text-center"><%=title%></h3>
      </div>

      <div class="row user-input">
        <p style="margin: 0"><%=description%></p>
      </div>

      <form class="container user-input" id="timeslot-form" style="margin-left: 10px">

      <%for (let slot in timeslotsGroup) {%>
        <div class="row user-input">
          <input class="form-check-input" type="radio" id="timeslotcheck">
<!--           if (slot === userSelect) -->

          <label class="form-check-label" for="timeslotcheck"><%=slot%></label>
        </div>

        <% if ((timeslotsGroup[slot].length === 1) && (timeslotsGroup[slot][0][0] === null)) {%>
          <p class="col-auto align-self-end"><%= 0%> People</p>
        <% } else {%>
          <% if(timeslotsGroup[slot].length > 1) {%>
            <p class="col-auto align-self-end"><%= timeslotsGroup[slot].length%> People</p>
          <% } else { %>
            <p class="col-auto align-self-end"><%= timeslotsGroup[slot].length%> Person</p>
            <% } %>
        <% }%>
      </div>
    <% } %>

        <div class="row justify-content-end">
          <a class="col-auto align-self-center btn-submit" href="/">Cancel</a>
          <a href="/submitted" class="col-auto btn-submit" style="color: #ffffff"> Submit</a>
        </div>
      </form>

    </section>

    <section id="respondent-name" style="display: none"><%=userName%></section>
    <section id="respondent-select" style="display: none"><%=userSelect%></section>
    <section id="respondent-email" style="display: none"><%=userEmail%></section>
  </body>
</html>
