<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Event Invitation</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/hostevent.js"></script>

    <script type="text/javascript" src="/scripts/clipboard.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  </head>

  <body>
    <header class="container">
      <a href="/"><h1 class="row justify-content-start">DoodleDoop</h1></a>
      <% include partials/_header %>
    </header>

    <section class="container content-wrapper" id="host-event-page" >

      <p class="row">Please save your host link and remember NOT to share with anyone else❗❗</p>
      <h3 class="row text-center event-urls" style="margin: 0">This is your secret host link: </h3>
    <div class="row">
        <input class="col-auto event-urls" type="text" id= "hostURL" value="host/<%= hostURL%>" />
        <button class="col-auto copy-url" id="btn-copy-host-event" data-clipboard-text="http://localhost:8080/host/<%=hostURL%>">&#128203;</button>
    </div>


      <h3 class="row text-center event-urls" style="margin:0">Please share this link with your friends:</h3>
      <div class="row">
        <input class="col-auto event-urls" type="text" value="event/<%= guestURL%>" />
        <button class="col-auto copy-url" id="btn-copy-guest-event" data-clipboard-text="http://localhost:8080/event/<%=guestURL%>">&#128203;</button>
      </div>

      <div class="row">
        <hr>
      </div>

      <div class="row user-input justify-content-between">
        <h3 class="col-auto text-center">Event Invitation</h3>
        <button class="col-sm-3 btn-lg-err" id="delete-event">Delete Event</button>
      </div>

      <div class="row user-input">
        <label class="col-auto align-self-end" for="event-title">Event Title: </label>
        <input class="col-sm-4" type="text" name="title" value="<%= title%>" id="event-title readonly-input" readonly/>
        <button class="col-auto align-self-end edit-input">Edit</button>
      </div>

      <div class="row user-input">
        <label class="col-auto align-self-start" for="event-description">Description: </label>
        <textarea class="col-sm-8" id="event-description" type="text" name="description" rows="3" value="event-description" readonly/><%=description%></textarea>
        <button class="col-auto align-self-end edit-input" >Edit</button>
      </div>

      <div class="row user-input">
        <label class="col-auto align-self-end" for="event-location">Location: </label>
        <input class="col-sm-4" type="text" name="location" value="<%= location%>" readonly/>
        <button class="col-auto align-self-end edit-input">Edit</button>
      </div>

      <%for (let slot in timeslotsGroup) {%>
          <%if (slot === 'NOT GOING') {%>
             <div class="row justify-content-start user-input">
                <label class="col-auto align-self-end" for="slot">Timeslot: </label>
                <input class="col-sm-4" id="slot" type="text" name="timeslot" value="<%= slot%>" readonly/>
             </div>

        <div class="col-auto responded-people">
          <% if ((timeslotsGroup[slot].length === 1) && (timeslotsGroup[slot][0][0] === null)) {%>
            <button class="col-auto responded-people"><%= 0%> People</button>
          <% } else {%>
            <% if(timeslotsGroup[slot].length > 1) {%>
              <button class="col-auto responded-people"><%= timeslotsGroup[slot].length%> People</button>
            <% } else { %>
              <button class="col-auto responded-people"><%= timeslotsGroup[slot].length%> Person</button>
              <% } %>
          <% }%>
        </div>
      <%}}%>

      <%for (let slot in timeslotsGroup) {%>
        <%if (slot !== 'NOT GOING') {%>
          <div class="row justify-content-start user-input">
            <label class="col-auto align-self-end" for="slot">Timeslot: </label>
            <input class="col-sm-4" id="slot" type="text" name="timeslot" value="<%= slot%>" readonly/>
            <button class="col-auto align-self-end delete-input" id="delete-old-slot">Delete</button>
          </div>

        <div class="col-auto responded-people">
          <% if ((timeslotsGroup[slot].length === 1) && (timeslotsGroup[slot][0][0] === null)) {%>
            <button class="col-auto responded-people"><%= 0%> People</button>
          <% } else {%>
            <% if(timeslotsGroup[slot].length > 1) {%>
              <button class="col-auto responded-people"><%= timeslotsGroup[slot].length%> People</button>
            <% } else { %>
              <button class="col-auto responded-people"><%= timeslotsGroup[slot].length%> Person</button>
              <% } %>
          <% }%>
        </div>
      <%}}%>

      <div id="last-input"></div>

      <div class="row">
        <button class="col-auto" id="add-timeslot">Add timeslot &#43;</button>
      </div>

      <div class="row justify-content-end" id="before-err-msg">
        <a class="col-auto align-self-center btn-submit" href="/">Back To DoodleDoop</a>
        <form id="modify-event-submit">
          <input class="col-auto btn-submit" type="submit" name="submit" values="Save Change" />
        </form>
      </div>

    </section>
  </body>
</html>
